img.portrait {
  object-fit: cover;
  object-position: center;
  height: 140px;
  width: 140px;
}

h5.portrait {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

/* media query per schermi piccoli, fino a larghezza di 768*/
@media screen and (max-width: 768px) {
  h5.portrait {
    flex-direction: column;
  }
}
