$font-family: Arial, sans-serif;

$accent-color: #ec6d13;
$text-color: black;
$secondary-text-color: darkgray;
$secondary-color: darkgray;

$page-width: 992px;
$base-unit: 8px;
$font-size-base: 16px;
