.mds-card {
  min-height: 460px;
  max-height: 460px;
  max-width: 260px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #c2c2c2;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  img {
    max-height: 240px;
    max-width: 240px;
  }
  .mds-card-body {
    min-height: 180px;
    max-width: 180px;
  }
}
