@use '../../styles/variables';

span.tag {
    background-color: variables.$secondary-color;
    padding: calc(variables.$font-size-base / 4) calc(variables.$font-size-base / 2);
    border-radius: 8px;
    margin-right: 8px;
    margin-top: 8px;
    font-size: calc(variables.$font-size-base * 1.2);
}

div.tag-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 8px;
}
