@use '../../styles/variables';

.recipe {
    padding: 0;
    max-width: 304px;
    border: 1px solid gray;
    border-radius: variables.$base-unit;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    max-height: 432px;
    min-height: 432px;
    margin-bottom: 24px;
    overflow: hidden;

    img {
        margin: 0;
        width: 100%;
        height: auto;
    }

    h2, h3, h4, h5, h6, p, div {
        margin-left: 16px;
        margin-right: 16px;

    }
    h4 {
        margin: 8px 16px;
        font-size:calc(variables.$font-size-base * 1.5);
    }
}

.recipe-link {
    text-decoration: none;
    color: inherit;
}
