.recipe {
    padding: 0;
    max-width: 224px;
    border: 1px solid gray;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    max-height: 360px;
    min-height: 360px;
    margin-bottom: 24px;
    overflow: hidden;

    img {
        margin: 0;
        width: 100%;
        height: auto;
    }

    h2, h3, h4, h5, h6, p, div {
        margin-left: 16px;
        margin-right: 16px;
    }
}
