@use '../styles/variables';

.recipeContainer {
    width: variables.$page-width;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
      "title title title"
      "image image image"
      "ingredients ingredients overview"
      "instructions instructions instructions";
    h3 {
      font-size: x-large;
    }
}

.recipeImage {
    grid-area: image;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 16px;
    z-index: 10;
}

.recipeTitle {
    grid-area: title;
    z-index: 30;
    position: relative;
    top: calc(variables.$base-unit * 36);
    margin-left: 16px;
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 32px;
}
.recipeIngredients {
    grid-area: ingredients;
    display: flex;
    flex-direction: column;
    li {
      margin-bottom: calc(variables.$base-unit);
      list-style-type: square;
      color: variables.$accent-color;
      font-size: calc(variables.$font-size-base * 2);
      span {
        color: variables.$secondary-text-color;
        font-weight: bold;
        font-size: calc(variables.$font-size-base * 1.5);
      }
    }
}
.recipeOverview {
    p {
      margin: 0;
      padding: calc(variables.$base-unit / 2);
      font-size: calc(variables.$font-size-base * 1.5);
    }
    grid-area: overview;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    p span:first-child {
        float: left;
        background-color: none;
        color: variables.$secondary-text-color
    }
    p span:last-child {
        float: right;
        background-color: none;
    }

}
.recipeInstructions {
    grid-area: instructions;
    font-size: calc(variables.$font-size-base * 1.5);
    p {
      color: variables.$secondary-text-color;
      font-weight: bold;
    }
}
